
#img1
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img2
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img3
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img4
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img5
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img6
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img7
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img8
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img9
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img10
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img11
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}
#img12
{
    height: 100px;
    width: 20%;
    display: inline-block;
    border: 2px solid green;
}